<form action="/cats" method="post">
  <input type="text" name="name" placeholder="Name of cat">
  <input type="text" name="color" placeholder="Color of cat">
  <input type="text" name="kittens" placeholder="How many kittens?">
  <input type="submit" value="Create Cat">
</form>